*.log
*.pot
*.pyc
*.sw[p-z]
*.db
.DS_Store
.idea
.coverage
.tox
htmlcov
config/config.yml
config/*.pem
newrelic.ini
reports

# Packages
*.egg
*.egg-info
dist
build
eggs

Vagrantfile
.vagrant

*tmp

*.sublime-workspace
*.sublime-project
