James Carr <james.r.carr@gmail.com> <james.r.carr@gmail.com>
Jing Dong <jing.dong@activars.com> <jing@qubitdigital.com>
Joffrey F <f.joffrey@gmail.com> <joffrey@docker.com>
Joffrey F <f.joffrey@gmail.com> <joffrey@dotcloud.com>
Ken Cochrane <kencochrane@gmail.com> <KenCochrane@gmail.com>
Mangled Deutz <olivier@webitup.fr> <dmp42@users.noreply.github.com>
Mangled Deutz <olivier@webitup.fr> <olivier@webitup.fr>
Marc Tamsky <mtamsky@gmail.com> <"Marc Tamsky (mtamsky@gmail.com)">
Matthew Fisher <matthewf@opdemand.com> <matthewf@activestate.com>
Michael Hrivnak <mhrivnak@redhat.com> <mhrivnak@hrivnak.org>
Raymond Barbiero <rbarbiero@yp.com> <raymond.barbiero.dev@gmail.com>
Shreyas Karnik <skarnik@rmn.com> <karnik.shreyas@gmail.com>
Teddy Reed <teddy@prosauce.org> <teddy@prosauce.org>
Walter Huf <walter.huf@corvisa.com> <walter.huf@corvisa.com>
noxiouz <noxiouz@yandex.ru> <noxiouz@s28h.xxx.yandex.net>
